# Run this command in your terminal in the project directory:
# echo "HOST_DOCKER_GID=$(getent group docker | cut -d: -f3 || echo 999)" > .env
# Replace 999 with a sensible default if the command fails or docker group doesn't exist
HOST_DOCKER_GID=988
# export ARCH=$(dpkg --print-architecture) # Or amd64/arm64 manually
ARCH=amd64 # Or amd64/arm64 manually